{% extends "base.html" %}
{% block title %}Edit METHODE{% endblock %}
{% block body %}
<link rel="stylesheet" href="../../static/css/espece.css">
    <div class="home">
        <div class="header-titre">
            <header>
                <H1>Editer une methode</H1>
            </header>
        </div>
        <form method="POST" class="insert-form" action="{{ url_for('methodes_update') }}">
            <div>

            </div>
            <br>
            <table border="1" cellpadding="5" cellspacing="5">
                {% for row in data %}
                    <div>
                        <div>
                            <input type="hidden" name="id_Methode_edit_html" value="{{ row.id_Methode }}">
                        </div>
                        <div>
                            <div>
                                <input type = "text" name = "edit_NomMethode_html" value="{{ row.NomMethode }}"/>
                                <label>Nom Methode</label>
                            </div>
                            <div>
                                <input type="number" min="0" max="1" name = "edit_ValideMethode_html" value="{{ row.ValideMethode }}"/>
                                <label class="label-right">Valide Methode</label>
                            </div>
                        </div>
                        <div>
                            <input value="Update" type="submit">
                        </div>
                    </div>
                {% endfor %}
            </table>
        </form>
    </div>
{% endblock %}