{% extends "base.html" %}
{% block title %}Ajouter METHODE{% endblock %}
{% block body %}
<link rel="stylesheet" href="../../static/css/methode.css">
    <div class="home">
        <div class="header-titre">
            <header>
                <H1>Ajouter une methode</H1>
            </header>
        </div>
        <form method="POST" class="insert-form" action="">
            <div>
                <div>
                    <input type = "text" name = "NomMethode_html" />
                    <label>Nom Methode</label>
                </div>
                <div>
                    <input value="Add" type="submit">
                </div>
            </div>
        </form>

    </div>
{% endblock %}