{% extends "base.html" %}
{% block title %} Afficher METHODE {% endblock %}
{% block body %}
<link rel="stylesheet" href="../../static/css/espece.css">
<div class="main-container">
    <table border="1" cellpadding="5" cellspacing="5" class="espece-table">
            <thead>
                <tr>
                    <th>ID Methode</th>
                    <th>Nom Methode</th>
                    <th>Valide Methode</th>
                </tr>
            </thead>
            {% for row in data %}
            <tbody>
                <tr>
                    <td>{{ row.id_Methode }}</td>
                    <td>{{ row.NomMethode }}</td>
                    <td>{{ row.ValideMethode }}</td>
                    <td><a href="{{ url_for('methodes_add') }}">Add</a></td>
                    <td><a href="{{ url_for('methodes_edit', id_Methode_edit_html=row.id_Methode) }}">Edit</a></td>
                    <td><a href="{{ url_for('methodes_select_delete', id_Methode_delete_html=row.id_Methode) }}">Delete</a></td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
</div>
{% endblock %}