<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="UTF-8">
        <title>{% block title %}TOPFish Authentication{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css">
	</head>
	<body>
		{% include 'flash_messages.html' %}
		<form action="" method="POST">
			<div class="login">
				<div class="login-screen">
					<div class="app-title">
						<h1>Login</h1>
					</div>
					<div class="login-form">
						<div class="control-group">
							<input type="text" class="login-field" value="" placeholder="username" name="username" autofocus required>
							<label class="login-field-icon fui-user" for="login-name"></label>
						</div>
						<div class="control-group">
							<input type="password" class="login-field" value="" placeholder="password" name="password" autofocus required>
							<label class="login-field-icon fui-lock" for="login-pass"></label>
						</div>
						<div>
							<input class="login-btn" type="submit" value="Login">
						</div>
						<div>
							<input type="button" onclick="window.location.href = '{{ url_for('register') }}';" value="Register" class="" style="margin-bottom: 9px;">
						</div>
					</div>
				</div>
			</div>
		</form>
	</body>
</html>