<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
        <title>{% block title %}TOPFish Authentication{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css">
	</head>
	<body>
		{% include 'flash_messages.html' %}
		<form action="{{ url_for('register') }}" method="POST" autocomplete="off">
			<div class="register">
				<div class="register-screen">
					<div class="app-title">
						<h1>Register</h1>
					</div>
					<div class="register-form">
						<div class="control-group">
							<input type="text" class="register-field" value="" placeholder="username" name="username" autofocus required>
							<label class="register-field-icon fui-user" for="register-name"></label>
						</div>
						<div class="control-group">
							<input type="password" class="register-field" value="" placeholder="password" name="password" autofocus required>
							<label class="register-field-icon fui-lock" for="register-pass"></label>
						</div>
						<div class="control-group">
							<input type="email" class="register-field" value="" placeholder="email" name="email" autofocus required>
							<label class="register-field-icon fui-lock" for="register-email"></label>
						</div>
						<div>
							<input type="submit" value="Register" class="login-btn">
						</div>
					</div>
				</div>
			</div>
		</form>
	</body>
</html>