{% extends "base.html" %}
{% block title %}Delete ESPECE{% endblock %}
{% block body %}
<link rel="stylesheet" href="../../static/css/espece.css">
    <div class="home">
        <BODY bgcolor="white">
            <form method="POST" action="{{ url_for('especes_delete') }}">
                <div>

                </div>
                <br>
                <table border="1" cellpadding="5" cellspacing="5" class="espece-table">
                    <thead>
                        <tr>
                            <th>ID Espece</th>
                            <th>Thumbnail</th>
                            <th>NomEspece</th>
                            <th>NomScientifiqueEspece</th>
                            <th>DescriptionEspece</th>
                            <th>PoidsMaxEspece</th>
                            <th>LongMaxEspece</th>
                            <th>AgeMaxEspece</th>
                            <th>ProfEspece</th>
                            <th>PlanEauEspece</th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tr>
                            <td><input type="hidden" name="id_Espece_delete_html" value="{{ row.id_Espece }}"></td>
                            <td><img src="../../static/img/thumbnail/{{ row.ThumbnailEspeceLink }}" style="width:50px;" alt=""></td>
                            <td>{{ row.id_Espece }}</td>
                            <td>{{ row.NomEspece }}</td>
                            <td>{{ row.NomScientifiqueEspece }}</td>
                            <td class="row_description">{{ row.DescriptionEspece }}</td>
                            <td>{{ row.PoidsMaxEspece }}</td>
                            <td>{{ row.LongMaxEspece }}</td>
                            <td>{{ row.AgeMaxEspece }}</td>
                            <td>{{ row.ProfEspece }}</td>
                            <td>{{ row.PlanEauEspece }}</td>
                            <td><button class="" type="submit">EFFACER</button></td>
                        </tr>
                    {% endfor %}
                </table>
            </form>
        </BODY>
    </div>
{% endblock %}