{% extends "base.html" %}
{% block title %}Ajouter ESPECES{% endblock %}
{% block body %}
<link rel="stylesheet" href="../../static/css/espece.css">
    <div class="home">
        <div class="header-titre">
            <header>
                <H1>Ajouter une espece</H1>
            </header>
        </div>
        <form method="POST" class="insert-form" action="" enctype="multipart/form-data" id="uploadForm">
            <div>
                <div id="after-upload">
                    <input type='file' name="file" id="file" aria-label="Thumbnail" required/>
                    <label class="always-active">Thumbnail</label>
                </div>
                <div>
                    <div>
                        <input type = "text" name = "NomEspece_html" />
                        <label>Nom Espece</label>
                    </div>
                    <div>
                        <input type = "text" name = "NomScientifiqueEspece_html" />
                        <label class="label-right">Nom Scientifique Espece</label>
                    </div>
                </div>
                <div>
                    <textarea name="DescriptionEspece_html" id="DescriptionEspece_html" cols="30" rows="10"></textarea>
                    <label style="top: 6px;">Description</label>
                </div>
                <div>
                    <div>
                        <input type = "text" name = "PoidsMaxEspece_html" />
                        <label>Longueur max</label>
                        <i>cm</i>
                    </div>
                    <div>
                        <input type = "text" name = "LongMaxEspece_html"/>
                        <label class="label-right">Poids max</label>
                        <i style="left:464px;">kg</i>
                    </div>
                </div>
                <div>
                    <div>
                        <input type = "text" name = "AgeMaxEspece_html"/>
                        <label>Age max</label>
                        <i>ans</i>
                    </div>
                    <div>
                        <input type = "text" name = "ProfEspece_html" />
                        <label class="label-right">Profondeur</label>
                        <i style="left:580px;">ex: "0 - 30 m"</i>
                    </div>
                </div>
                <div>
                    <input type = "text" name = "PlanEauEspece_html"/>
                    <label>Plan d'eau</label>
                </div>
                <div>
                    <input value="Add" type="submit">
                </div>
            </div>
        </form>

        <script>
            function filePreview(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#uploadForm + div').remove();
                        $('#after-upload').after('<div class="flex-align-center upload-image" ><img src="'+e.target.result+'"/></div>');
                    };
                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#file").change(function () {
                filePreview(this);
            });
        </script>

    </div>
{% endblock %}