{% extends "base.html" %}
{% block title %} Afficher ESPECES {% endblock %}
{% block body %}
<link rel="stylesheet" href="../../static/css/espece.css">
<div class="main-container">
    <table border="1" cellpadding="5" cellspacing="5" class="espece-table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>ThumbnailEspece</th>
                    <th>NomEspece</th>
                    <th>NomScientifiqueEspece</th>
                    <th>DescriptionEspece</th>
                    <th>PoidsMaxEspece</th>
                    <th>LongMaxEspece</th>
                    <th>AgeMaxEspece</th>
                    <th>ProfEspece</th>
                    <th>PlanEauEspece</th>
                </tr>
            </thead>
            {% for row in data %}
            <tbody>
                <tr>
                    <td>{{ row.id_Espece }}</td>
                    <td><img src="../../static/img/thumbnail/{{ row.ThumbnailEspeceLink }}" style="width:50px;" alt=""></td>
                    <td>{{ row.NomEspece }}</td>
                    <td>{{ row.NomScientifiqueEspece }}</td>
                    <td class="row_description">{{ row.DescriptionEspece }}</td>
                    <td>{{ row.PoidsMaxEspece }}</td>
                    <td>{{ row.LongMaxEspece }}</td>
                    <td>{{ row.AgeMaxEspece }}</td>
                    <td>{{ row.ProfEspece }}</td>
                    <td>{{ row.PlanEauEspece }}</td>
                    <td><a href="{{ url_for('especes_add') }}">Add</a></td>
                    <td><a href="{{ url_for('especes_edit', id_Espece_edit_html=row.id_Espece) }}">Edit</a></td>
                    <td><a href="{{ url_for('especes_select_delete', id_Espece_delete_html=row.id_Espece) }}">Delete</a></td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
</div>
{% endblock %}