{% extends "base.html" %}
{% block title %} Afficher ESPECES {% endblock %}
{% block body %}
<link rel="stylesheet" href="../../static/css/espece.css">
<div style="margin:20px 0 40px 30px;">
    <header>
        <h1>Recherche</h1>
    </header>
    <form class="search-form" method="POST" action="{{ url_for('especes_search') }}">
        <input type="text" class="input-search" placeholder="Espèce.." required name="search_espece_html">
        <button type="submit">rechercher</button>
    </form>
    <p>Toutes les données sur les espèces proviennent de <a style="color:#00aaff;" href="https://fishbase.se/">https://fishbase.se/</a></p>
</div>
        {% for row in data %}
<div class="main-container">
        <div id="WikiPage" class="WikiPage">
            <header>
                <h1>{{ row.NomEspece }}</h1>
            </header>
        </div>
        <article id="WikiaMainContent">
                <aside>
                    <h2>{{ row.NomEspece }}</h2>
                    <img src="../../static/img/thumbnail/{{ row.ThumbnailEspeceLink }}" style="border: 0;"  alt = "Illustration de l'espèce">
                    <div>
                        <h4>Nom Scientifique</h4>
                        <div class="pi-data-value pi-font">
                            <i>{{ row.NomScientifiqueEspece }}</i>
                        </div>
                    </div>
                    <div>
                        <h4>Poids maximum</h4>
                        <div>
                            {{ row.PoidsMaxEspece }} kg
                            <sup>
                                <a href="#"></a>
                            </sup>
                        </div>
                    </div>
                    <div>
                        <h4>Longueur maximale</h4>
                        <div>
                            {{ row.LongMaxEspece }} cm
                            <sup>
                                <a href="#"></a>
                            </sup>
                        </div>
                    </div>
                    <div>
                        <h4>Age maximum</h4>
                        <div>
                            {{ row.AgeMaxEspece }} ans
                            <sup>
                                <a href="#"></a>
                            </sup>
                        </div>
                    </div>
                    <div>
                        <h4>Profondeur</h4>
                        <div>
                            {{ row.ProfEspece }}
                            <sup>
                                <a href="#"></a>
                            </sup>
                        </div>
                    </div>
                    <div>
                        <h4>Plan d'eau</h4>
                        <div>
                            {{ row.PlanEauEspece }}
                            <sup>
                                <a href="#"></a>
                            </sup>
                        </div>
                    </div>
                </aside>
                <div class="content-text" dir="ltr" lang="fr">
                    <h4 class="title-section">Description</h4>
                    <p>
                        {{ row.DescriptionEspece }}
                    </p>
                </div>
        </article>
    </div>
        {% endfor %}

{% endblock %}
{% block footer %}
<div>
    <footer>
        <a href="/">© TopFish</a>
    </footer>
</div>
{% endblock %}