{% extends "base.html" %}
{% block title %}Edit ESPECES{% endblock %}
{% block body %}
<link rel="stylesheet" href="../../static/css/espece.css">
    <div class="home">
        <div class="header-titre">
            <header>
                <H1>Editer une espece</H1>
            </header>
        </div>
        <form method="POST" class="insert-form" action="{{ url_for('especes_update') }}">
            <div>

            </div>
            <br>
            <table border="1" cellpadding="5" cellspacing="5">
                {% for row in data %}
                    <div>
                        <div>
                            <input type="hidden" name="id_Espece_edit_html" value="{{ row.id_Espece }}">
                        </div>
                        <div>
                            <div>
                                <input type = "text" name = "edit_NomEspece_html" value="{{ row.NomEspece }}"/>
                                <label>Nom Espece</label>
                            </div>
                            <div>
                                <input type = "text" name = "edit_NomScientifiqueEspece_html" value="{{ row.NomScientifiqueEspece }}"/>
                                <label class="label-right">Nom Scientifique Espece</label>
                            </div>
                        </div>
                        <div>
                            <textarea name="edit_DescriptionEspece_html" id="edit_DescriptionEspece_html" cols="30" rows="10">{{ row.DescriptionEspece }}</textarea>
                            <label style="top: 6px;">Description</label>
                        </div>
                        <div>
                            <div>
                                <input type = "text" name = "edit_LongMaxEspece_html" value="{{ row.LongMaxEspece }}"/>
                                <label>Longueur max</label>
                                <i>cm</i>
                            </div>
                            <div>
                                <input type = "text" name = "edit_PoidsMaxEspece_html" value="{{ row.PoidsMaxEspece }}"/>
                                <label class="label-right">Poids max</label>
                                <i style="left:464px;">kg</i>
                            </div>
                        </div>
                        <div>
                            <div>
                                <input type = "text" name = "edit_AgeMaxEspece_html" value="{{ row.AgeMaxEspece }}"/>
                                <label>Age max</label>
                                <i>ans</i>
                            </div>
                            <div>
                                <input type = "text" name = "edit_ProfEspece_html" value="{{ row.ProfEspece }}"/>
                                <label class="label-right">Profondeur max</label>
                            </div>
                        </div>
                        <div>
                            <input type = "text" name = "edit_PlanEauEspece_html" value="{{ row.PlanEauEspece }}"/>
                            <label>Plan d'eau</label>
                        </div>
                        <div>
                            <input value="Update" type="submit">
                        </div>
                    </div>
                {% endfor %}
            </table>
        </form>
    </div>
{% endblock %}