<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}TOPFish{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="navigation-header-global flex-align-center" style="background-color: #00aaff">
            <div class="navigation-header navigation-header-global flex-align-center" style="background-image: radial-gradient(closest-corner circle at center, #00aaff, #0082FF)">
                <a href="{{ url_for('home') }}" title="Hello test"><img src="{{url_for('static', filename='logo_topfish.png')}}" align="middle" width="120" height="40"/></a>
                <div class="nav-element">
                    <button class="bouton_header" onclick="window.location.href = '#';">Equipement</button>
                    <div class="bouton-header-options">
                        <div class="chevron-container">
                            <div class="chevron"></div>
                        </div>
                        <ul>
                            <li><a href="#">Ajouter du matériel</a></li>
                            <li><a href="#">Mon équipement</a></li>
                        </ul>
                    </div>
                </div>
                <div class="nav-element">
                    <button class="bouton_header" onclick="window.location.href = '{{ url_for('prises_card_afficher', order_by='DESC') }}';">Prises</button>
                </div>
                <div class="nav-element">
                    <button class="bouton_header" onclick="window.location.href = '{{ url_for('especes_afficher') }}';">Espèces</button>
                </div>
                {% if session['rank']|default(1, true) >= 3 %}
                <div class="nav-element">
                    <button class="bouton_header">Administration</button>
                    <div class="bouton-header-options">
                        <div class="chevron-container">
                            <div class="chevron"></div>
                        </div>
                        <ul>
                            <li><a href="{{ url_for('especes_rank_afficher') }}">Gerer les espèces</a></li>
                            <li><a href="{{ url_for('methodes_rank_afficher') }}">Gerer les méthodes</a></li>
                        </ul>
                    </div>
                </div>
                {% else %}
                {% endif %}
                {% if session['loggedin'] is sameas true %}
                <div class="profile-btn-group">
                    <button class="profile-button" type="button" id="buttonProfile">
                        <div class="profile-icon-block">
                            <div class="icon-profile" style="background: rgba(0, 0, 0, 0) url({{ session['avatar']|default('https://www.gravatar.com/avatar/b842a2f9317126ca3e751b6711e7e695.jpg?d=https%3A%2F%2Fstatic-assets.mapbox.com%2Faccounts%2Fastronaut-gravatar-200x200.png', True)  }}) no-repeat scroll center center / cover;"></div>
                        </div>
                        <div class="flex-align-center">
                            <svg viewBox="0 0 18 18" style="height: 24px;width: 24px;" class="um-icon">
                                <path d="M12,7L6,7l3,4L12,7z"></path>
                            </svg>
                        </div>
                    </button>
                    <div class="profile-header-options" id="profileHeaderOptions">
                        <div class="chevron-container flex-align-center">
                            <div class="chevron chevron-profile"></div>
                        </div>
                        <ul>
                            <li class="profile-username" style="color: #607d9c;">{{ session['username'] }}</li>
                            <li><a href="{{ url_for('profile') }}">Mon profile</a></li>
                            <li><a  href="{{ url_for('logout') }}">Se déconnecter</a></li>
                        </ul>
                    </div>
                </div>
                {% else %}
                <div class="nav-element sign-in-button">
                    <button class="bouton_header" onclick="window.location.href = '{{ url_for('login') }}';">Se connecter</button>
                </div>
                {% endif %}
            </div>
        </div>
        {% block header %} {% endblock %}
        {% include 'flash_messages.html' %}
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}
        {% block javascript %}{% endblock %}
        <script>
              $("#buttonProfile").click(function(){
                if ($('#profileHeaderOptions').css('opacity') === '0'){
                  $( "#profileHeaderOptions" ).css({"top": "40px", "opacity": "1", "pointer-events": "auto"});
                } else if ($('#profileHeaderOptions').css('opacity') === '1'){
                  $( "#profileHeaderOptions" ).css({"top": "30px", "opacity": "0", "pointer-events": "none"});
                };
              });
        </script>
    </body>
</html>