{% extends "base.html" %}
{% block title %}Edit PRISES{% endblock %}
{% block body %}
<script src='https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.css' rel='stylesheet'/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <div>
            <div>
                    {% if error %}
                        <p class=error><strong>Error:</strong> {{ error }}
                    {% endif %}
            </div>
            <div class="header-titre">
                <header>
                    <H1>Modifier une prise</H1>
                </header>
            </div>
            {% for row in data %}
            <div class="flex-align-center" style="min-width:500px;max-width:700px;margin: 0 auto;">
                <img src="/static/img/up/{{ row.PrisePhoto }}" class="prise-image" alt="Photo prise">
            </div>
            <form class="insert-form"  method="POST" action="{{ url_for('prises_update') }}">
                <div>
                    <input type="hidden" name="PrisePhoto_html" value="{{ row.PrisePhoto }}">
                    <input type="hidden" name="edit_id_Prise_html" value="{{ row.id_Prise }}">
                    <input type="hidden" name="id_prise_sel" value="{{ row.id_Prise }}">
                    <div>
                        <select name="edit_Methode_select" id="edit_Methode_select">
                        {% for row in data_methodes %}
                            <option value="{{ row.id_Methode }}">{{ row.NomMethode }}</option>
                        {% endfor %}
                            <option value="16">Autre</option>
                        </select>
                    </div>
                    <div>
                        <select name="edit_Espece_select" id="edit_Espece_select">
                        {% for row in data_especes %}
                            <option value="{{ row.id_Espece }}">{{ row.NomEspece }}</option>
                        {% endfor %}
                            <option value="33">Autre</option>
                        </select>
                    </div>
                    <div>
                        <input type = "text" name = "edit_PoidsPrise_html" value="{{ row.PoidsPrise }}" maxlength="4" size="4" required/>
                        <i>kg</i>
                        <label>Poids</label>
                    </div>
                    <div>
                        <input type = "text" name = "edit_TaillePrise_html" value="{{ row.TaillePrise }}" maxlength="5" size="5" required/>
                        <i>cm</i>
                        <label>Taille</label>
                    </div>
                    <h3>Glissez le marqueur</h3>
                    <div id="test-map"style="height:320px;">
                        <div id="map"></div>
                    </div>
                    <div>
                        <div>
                            <input type = "text" name="lat_html" id="lat" value="{{ row.GpsLatLocalisation }}" readonly="yes"/>
                            <label class="always-active">Latitude</label>
                        </div>
                        <div>
                            <input type = "text" name="lng_html" id="lng" value="{{ row.GpsLonLocalisation }}" readonly="yes"/>
                            <label class="always-active label-right">Longitude</label>
                        </div>
                    </div>
                    <div>
                        <input type = "date" name = "edit_DatePrise_html" id="edit_DatePrise_html" value="{{ row.DatePrise }}" required/>
                        <label class="always-active">Date</label>
                    </div>
                    <div>
                        <input type = "time" name = "edit_HeurePrise_html" id="edit_HeurePrise_html" value="{{ row.HeurePrise }}" required/>
                        <label class="always-active">Heure</label>
                    </div>
                    <div>
                        <input type="button" id="weatherButton" value="Obtenir les conditions météo" style="display: none;">
                    </div>
                    <div>
                        <div id="weatherTable" style="display: none;width:100%;">
                            <table>
                                <tr>
                                    <td>
                                        <h4>Température de l'air </h4>
                                        <div class="flex-align-center">
                                            <input id="temp" name="temp_html" value="{{ row.TemperatureMeteo }}" readonly="yes">
                                            <i> °C</i>
                                        </div>
                                    </td>
                                    <td>
                                        <h4>Time zone </h4>
                                        <div>
                                            <input id="timezone" name="timezone_html" readonly="yes">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4>Pression atmosphérique</h4>
                                        <div class="flex-align-center">
                                            <input id="pression" name="pression_html" value="{{ row.PressionMeteo }}" readonly="yes"><i>  hPa</i>
                                        </div>
                                    </td>
                                    <td>
                                        <h4>Temps </h4>
                                        <div>
                                            <input id="conditionMeteo" name="conditionMeteo_html" value="{{ row.ConditionMeteo }}" readonly="yes">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4>Humidité de l'air </h4>
                                        <div>
                                            <input id="humidity" name="humidity_html" value="{{ row.HumiditeMeteo }}" readonly="yes">
                                        </div>
                                    </td>
                                    <td>
                                        <h4>Vitesse du vent </h4>
                                        <div class="flex-align-center">
                                            <input id="vent" name="vent_html" value="{{ row.VentMeteo }}" readonly="yes"><i> m/s</i>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div>
                        <input type="submit" value="Enregistrer la prise">
                    </div>
                </div>
            </form>
            <script type="text/javascript" src="{{ url_for('static', filename='js/map-edit.js') }}"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='js/weather-edit.js') }}"></script>
            <script>
                selectElement('edit_Methode_select', {{ row.fk_Methode }})
                selectElement('edit_Espece_select', {{ row.fk_Espece }})

                function selectElement(id, valueToSelect) {
                    value = valueToSelect;
                    let element = document.getElementById(id);
                    element.value = value;
                }
            </script>
            {% endfor %}
    </div>
{% endblock %}
{% block footer %}
<div>
    <footer>
        <a href="/">© TopFish</a>
    </footer>
</div>
{% endblock %}