{% extends "base.html" %}
{% block title %} Afficher PRISES {% endblock %}
{% block head %}
<script src='https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.css' rel='stylesheet' />
{% endblock %}
{% block body %}
<div>
    {% for row in data %}
    <div class="flex-align-center" style="min-width:500px;max-width:700px;margin: 0 auto;">
        <img src="../../../static/img/up/{{ row.PrisePhoto }}" class="prise-image" alt="Photo prise">
    </div>
    <div class="prise-content flex-align-center">
        <div>
            <div class="btn-group">
                    <a href="{{ url_for('prises_edit', hashid=create_hashid(row.id_Prise), hashuserid=create_hashuserid(session['username']) ) }}" role="button">Edit</a>
                    <a href="{{ url_for('prises_select_delete', hashid=create_hashid(row.id_Prise), hashuserid=create_hashuserid(session['username'])) }}" role="button">Delete</a>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>
                            <h3>Détails de la prise</h3>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Espèce</td>
                        <td>
                            <div>{{ row.NomEspece }}</div>
                        </td>
                    </tr>
                    <tr>
                        <td>Méthode</td>
                        <td>
                            <div>{{ row.NomMethode }}</div>
                        </td>
                    </tr>
                    <tr>
                        <td>Poids</td>
                        <td>
                            <div>{{ row.PoidsPrise }} <i>kg</i></div>
                        </td>
                    </tr>
                    <tr>
                        <td>Taille</td>
                        <td>
                            <div>{{ row.TaillePrise }} <i>cm</i></div>
                        </td>
                    </tr>
                    <tr>
                        <td>Date</td>
                        <td>
                            <div>{{ row.DatePrise }}</div>
                        </td>
                    </tr>
                    <tr>
                        <td>Heure</td>
                        <td>
                            <div>{{ row.HeurePrise }}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <table>
                <thead>
                <tr>
                    <th>
                        <h3>
                            Localisation
                        </h3>
                    </th>
                </tr>
                </thead>
            </table>
            <div>
                <div id="map"></div>
            </div>
            <table>
                <tbody>
                    <tr>
                        <td>Latitude</td>
                        <td>
                            <div>
                                <span id="lat">
                                    {{ data_prises_info['GpsLatLocalisation'] }}
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Longitude</td>
                        <td>
                            <div>
                                <span id="lng">
                                    {{ data_prises_info['GpsLonLocalisation'] }}
                                </span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% endfor %}
    {% if data_prises_info['ConditionMeteo']==None %}
    {% else %}
        <div>
            <table>
                <thead>
                    <tr>
                        <th>
                            <h3>Conditions</h3>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Temps</td>
                        <td>
                            <div>{{ data_prises_info['ConditionMeteo'] }}</div>
                        </td>
                    </tr>
                    <tr>
                        <td>Température de l'air</td>
                        <td>
                            <div>{{ data_prises_info['TemperatureMeteo'] }} °C</div>
                        </td>
                    </tr>
                    <tr>
                        <td>Direction du vent</td>
                        <td>
                            <div>Nord nord-est</div>
                        </td>
                    </tr>
                    <tr>
                        <td>Vitesse du vent</td>
                        <td>
                            <div>{{ data_prises_info['VentMeteo'] }} m/s</div>
                        </td>
                    </tr>
                    <tr>
                        <td>Pression atmosphérique</td>
                        <td>
                            <div>{{ data_prises_info['PressionMeteo'] }} hPa</div>
                        </td>
                    </tr>
                    <tr>
                        <td>Humidité de l'air</td>
                        <td>
                            <div>{{ data_prises_info['HumiditeMeteo'] }}</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    {% endif %}
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/map-display.js') }}"></script>
</div>
{% endblock %}
{% block footer %}
<div>
    <footer>
        <a href="/">© TopFish</a>
    </footer>
</div>
{% endblock %}
