{% extends "base.html" %}
{% block title %}Delete PRISES{% endblock %}
{% block body %}
    <div class="home">
        <BODY bgcolor="white">
            <form method="POST" action="{{ url_for('prises_delete') }}">
                <div>
                    {% for row in data %}
                    <div class="flex-align-center" style="min-width:500px;max-width:700px;margin: 0 auto;">
                        <img src="../../../static/img/up/{{ row.PrisePhoto }}" class="prise-image" alt="Photo prise">
                    </div>
                    <input type="hidden" value="{{ row.id_Prise }}" name="id_Prise_delete_html">
                    <div class="prise-content flex-align-center">
                        <div>
                            <button class="btn-delete" style="bg-color:" type="submit">EFFACER</button>
                            <table>
                                <thead>
                                    <tr>
                                        <th>
                                            <h3>Détails de la prise</h3>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Espèce</td>
                                        <td>
                                            <div>{{ row.NomEspece }}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Méthode</td>
                                        <td>
                                            <div>{{ row.NomMethode }}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Poids</td>
                                        <td>
                                            <div>{{ row.PoidsPrise }} <i>kg</i></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Taille</td>
                                        <td>
                                            <div>{{ row.TaillePrise }} <i>cm</i></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Date</td>
                                        <td>
                                            <div>{{ row.DatePrise }}</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Heure</td>
                                        <td>
                                            <div>{{ row.HeurePrise }}</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </form>
        </BODY>
    </div>
{% endblock %}
{% block footer %}
<div>
    <footer>
        <a href="/">© TopFish</a>
    </footer>
</div>
{% endblock %}