{% extends "base.html" %}
{% block title %}Ajouter une PRISE{% endblock %}
{% block body %}
    <div class="home">
        <body bgcolor="#FFF">
            <div>
                {% if error %}
                    <p class=error><strong>Error:</strong> {{ error }}
                {% endif %}
            </div>
            <div id="demo">
                <div class="header-titre">
                    <header>
                        <H1>Ajouter une prise</H1>
                    </header>
                </div>
                <form class="insert-form" method="POST" action="" enctype="multipart/form-data" id="uploadForm">
                    <div>
                        <input type='file' name="file" id="file" aria-label="Photo" required/>
                        <label class="always-active">Photo</label>
                    </div>
                    <button type="submit">Enregistrer l'image</button>
                </form>
            </div>
            <script>
                function filePreview(input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $('#uploadForm + div').remove();
                            $('#uploadForm').after('<div class="flex-align-center upload-image" ><img src="'+e.target.result+'"/></div>');
                        };
                        reader.readAsDataURL(input.files[0]);
                    }
                }

                $("#file").change(function () {
                    filePreview(this);
                });
            </script>
        </body>
    </div>
{% endblock %}