{% extends "base.html" %}
{% block title %} {{ account['PrenomPers']|default('', True) }} {{ account['NomPers']|default('', True) }} ({{ account['User'] }}) {% endblock %}
{% block body %}
<link rel="stylesheet" href="../dist/remodal.css">
<link rel="stylesheet" href="../dist/remodal-default-theme.css">
    <div>
        <div class="profile-general profile-main">
            <header class="profile-header profile-general">
                <div class="profile-aside-left profile-general">
                    <div class="mDSA">
                        <div class="Msaef">
                            <img alt="Modifier la photo de profil" class="bdrf3" src="{{ account['Avatar'] }}?s=400">
                        </div>
                    </div>
                </div>
                <section>
                    <div class="aSDkl3">
                        <h2 class="profile-header-username">
                            {{ account['User'] }}
                        </h2>
                        <a class="edit-profile" id="editBtn" role="button" tabindex="0">
                            <button type="button" style="font-weight: 600;border-radius: 4px;">
                                Modifier profil
                            </button>
                        </a>
                    </div>
                    <div>
                        <h1>
                            {{ account['PrenomPers']|default("", True) }} {{ account['NomPers']|default("", True) }}
                        </h1>
                        <br>
                    </div>
                    <div class="profile-header profile-general">
                        <div style="padding-right:20px;border-right:solid black 1px;">
                            <a class="edit-profile" style="margin:0;">
                                <span>
                                    {{ data|length }}
                                    <span style="margin-left:3px;">
                                         prises
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div>
                            <a class="edit-profile" href="" tabindex="0">
                                <div class="profile-general" style="flex-direction: row;">
                                    <span>
                                        Équipement
                                    </span>
                                    <img src="{{url_for('static', filename='img/profil/toolbox.png')}}" style="width:30px;height:30px;margin-left:9px;">
                                </div>
                            </a>
                        </div>
                    </div>
                </section>
            </header>
            <a href="{{ url_for('prises_add') }}" class="btn-prise" role="button" aria-label="Consigner une prise" data-focusable="true">
                <div style="height:49px;" class="flex-align-center">
                   <span>
                       Consigner une prise
                       <img src="{{ url_for('static', filename='img/profil/plus-sign.png') }}" style="">
                   </span>
                </div>
            </a>
            <div class="card-container">
                {% for row in data %}
                {% if data %}
                <div>
                    <a href="{{ url_for('prises_afficher_personal', hashid=create_hashid(row.id_Prise) ) }}">
                        <div class="card-image" style="background-image: url('../../static/img/up/{{ row.PrisePhoto }}');" title="Prise">
                        </div>
                    </a>
                    <div class="card-content">
                        <h2>{{ row.NomEspece }}</h2>
                        <div class="btn-group">
                            <a href="{{ url_for('prises_edit', hashid=create_hashid(row.id_Prise), hashuserid=create_hashuserid( session['username'] ) ) }}">Edit</a>
                            <a href="{{ url_for('prises_select_delete', hashid=create_hashid(row.id_Prise), hashuserid=create_hashuserid(session['username'])) }}">Delete</a>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% else %}
                <table style="margin-top:30px;">
                    <tr>
                        <td>
                            Aucune prise.
                        </td>
                    </tr>
                </table>
                {% endfor %}
            </div>
        </div>
        <!-- The Modal -->
        <div id="myModal" class="modal">
            <form class="insert-form" method="POST" action="{{ url_for('profile_update') }}">
                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <button type = "submit" class="btn-save" aria-label="Enregistrer" data-focusable="true">
                        <div style="height:35px;" class="flex-align-center">
                           <span>
                               Enregistrer
                           </span>
                        </div>
                    </button>
                    <div class="flex-align-center" style="margin-bottom:10px;justify-content: stretch;">
                        <img src="{{ account['Avatar'] }}?s=400" alt="User avatar" class="icon-profile" style="width:90px;height:90px;">
                        <a href="https://gravatar.com" style="margin-left:10px;color:#00aaff;">
                            <span>
                                Modifier sur gravatar.com
                            </span>
                        </a>
                    </div>
                    <div>
                        <input type = "text" name="user_html" value="{{ account['User'] }}" required/>
                        <label>Username</label>
                    </div>
                    <div>
                        <input type = "text" name="prenom_html" value="{{ account['PrenomPers']|default('', True) }}" required/>
                        <label>Prenom</label>
                    </div>
                    <div>
                        <input type = "text" name="nom_html" value="{{ account['NomPers']|default('', True) }}" required/>
                        <label>Nom</label>
                    </div>
                    <div>
                        <input type = "email" name="email_html" value="{{ account['Mail'] }}" required/>
                        <label>Email</label>
                    </div>
                    <div>
                        <input type = "date" name="birthdate_html" value="{{ account['DateNaissPers']|default('', True) }}" required/>
                        <label class="always-active">Date de naissance</label>
                    </div>
                    <a class="btn-delete" style="margin-top:12px;" id="deleteBtn" role="button" aria-label="Supprimer" data-focusable="true">
                        <div style="height:30px;" class="flex-align-center">
                           <span>
                               Supprimer le compte
                           </span>
                        </div>
                    </a>
                </div>
            </form>
        </div>
        <div id="deleteModal" class="modal" style="padding-top: 150px;">
            <div class="modal-content">
                <form method="POST" action="{{ url_for('profile_delete') }}">
                    <span id="deleteClose" class="close">&times;</span>
                    <br/>
                    <input type="hidden" value="{{ account['id_User'] }}" name="id_User_delete_html">
                    <h3>Supprimer le compte</h3>
                    <div class="message-modal">
                        <span>
                            Voulez-vous vraiment supprimer le compte?
                        </span>
                    </div>
                    <div class="btn-group">
                        <a id="deleteCancel" >Cancel</a>
                        <input class="btn-delete" type="submit" value="Delete">
                    </div>
                </form>
            </div>
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='js/modal.js') }}"></script>
    </div>
{% endblock %}
{% block footer %}
<div>
    <footer>
        <a href="/">© TopFish</a>
    </footer>
</div>
{% endblock %}