{% extends "base.html" %}
{% block title %}Ajouter un compte{% endblock %}
{% block body %}
    <div class="home">
        <BODY bgcolor="#FFF">
        <div>
                {% if error %}
                    <p class=error><strong>Error:</strong> {{ error }}
                {% endif %}
        </div>
        <form class="insert-form" method="POST" action="">
            <div>
                <div>
                    <H1>Créer un compte</H1>
                </div>
                <div>
                    <input type = "text" name= "username_html" aria-label="Username" required/>
                    <label>Username</label>
                </div>
                <div>
                    <input type = "password" name= "password_html" aria-label="Password" required/>
                    <label>Password</label>
                </div>
                <div>
                    <input type = "text" name= "name_personne_html" required/>
                    <label>Nom</label>
                </div>
                <div>
                    <input type = "text" name= "firstname_personne_html" required/>
                    <label>Prénom</label>
                </div>
                <div>
                    <input type = "text" name= "mail_html" required/>
                    <label>Mail</label>
                </div>
                <div>
                    <input type = "date" name= "datenaissance_personne_html" required/>
                    <label class="always-active">Date de naissance</label>
                </div>
                <button type = "submit">Enregistrer</button>
            </div>
        </form>
        </BODY>
    </div>
{% endblock %}
{% block footer %}
<div>
    <footer>
        <a href="/">© TopFish</a>
    </footer>
</div>
{% endblock %}